<h2>What do I know </h2>
I do not know much about Rails yet except it is used to develop websites. There are many frameworks to implement.
<br><br>
<img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/13092168_10154127499617299_3809041000420258067_n.jpg?oh=30afd4fa37a44f79c5268146eb488b4b&oe=57CA2FD0" width=400px>
<br><br>
I am a pretty awesome person. 
